.navbar {
   max-height: 100vh;
   flex-wrap: nowrap;
   align-items: stretch;

   form {
      flex-wrap: nowrap;

      input {
         width: 100%;
      }
   }

   .navbar-toggler {
      margin-left: 1rem;
   }

   .list-group {
      overflow-y: auto;
   }
}

.content {
   max-height: 100vh;
   overflow-y: auto;
}
