body {
  padding-top: 15px;
}

.navbar-brand {
  padding: 8px 8px;
}

.nav a {
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse {
    padding: 0;
  }
  .navbar ul {
    float: none;
    margin-top: 50px;
  }
  .navbar li {
    float: none;
    display: block;
  }
  .navbar li a {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
