body {
  padding-top: 15px;
}

@media (min-width: 768px) {
  .navbar .navbar-collapse {
    padding: 0;
  }
  .navbar ul {
    float: none;
  }
  .navbar li {
    float: none;
    display: block;
  }
  .navbar li a {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}